In [ ]:
# 파일 다운로드 코드 및 다운 받은 파일 전처리 코드

In [10]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import time
import re
import os

# 1. 다운로드 폴더 및 Chrome 옵션 설정 (본인 환경에 맞게 수정)
download_dir = r"C:\Users\erety\sk_13_5_1st_sungil\1st_pj_g5\새 폴더\data"
os.makedirs(download_dir, exist_ok=True)

options = Options()
prefs = {
    "download.default_directory": download_dir,
    "download.prompt_for_download": False,
    "download.directory_upgrade": True,
    "safebrowsing.enabled": True
}
options.add_experimental_option("prefs", prefs)

# 2. ChromeDriver 경로 설정 (본인 환경에 맞게 수정)
driver_path = r"C:\chromedriver-win64\chromedriver-win64\chromedriver.exe"
service = Service(driver_path)
driver = webdriver.Chrome(service=service, options=options)

try:
    # 3. 대상 페이지 접속
    url = "https://stat.molit.go.kr/portal/cate/statMetaView.do?hRsId=58"
    driver.get(url)
    wait = WebDriverWait(driver, 30)
    time.sleep(5)  # 페이지 및 동적 콘텐츠 로딩 대기

    # 4. 다운로드 관련 <a> 태그 모두 수집
    #    다운로드 링크는 onclick 속성이 downFile 함수로 시작하는 태그입니다.
    anchors = driver.find_elements(By.CSS_SELECTOR, "a[onclick^='javascript:downFile']")
    
    for a in anchors:
        try:
            em_element = a.find_element(By.TAG_NAME, "em")
            file_text = em_element.text.strip()  # 예: "- 2023년 01월 자동차 등록자료 통계.xlsx"
            # 파일명에서 연도와 월 추출
            m = re.search(r'(\d{4})년\s*(\d{2})월', file_text)
            if m:
                year = int(m.group(1))
                month = int(m.group(2))
                # 조건: 2023년 1월부터 2025년 3월까지만
                if (year < 2023) or (year > 2025) or (year == 2025 and month > 3):
                    continue
                
                print(f"▶ 다운로드 시도: {file_text}")
                # 다운로드 링크가 화면에 보이도록 스크롤 후 클릭
                driver.execute_script("arguments[0].scrollIntoView(true);", a)
                time.sleep(1)
                driver.execute_script("arguments[0].click();", a)
                # 각 파일 다운로드 후 충분한 대기 (파일 크기 및 네트워크에 따라 조정)
                time.sleep(5)
        except Exception as e_sub:
            print("다운로드 요소 처리 오류:", e_sub)
    
    print("▶ 모든 파일 다운로드 시도 완료.")
    # 모든 다운로드가 완료될 때까지 추가 대기 (옵션)
    time.sleep(10)

except Exception as e:
    print("전체 오류 발생:", e)
    
finally:
    driver.quit()

▶ 다운로드 시도: - 2025년 03월 자동차 등록자료 통계.xlsx
▶ 다운로드 시도: - 2025년 03월 이륜차 신고현황 통계.xlsx
▶ 다운로드 시도: - 2025년 02월 자동차 등록자료 통계.xlsx
▶ 다운로드 시도: - 2025년 02월 이륜차 신고현황 통계.xlsx
▶ 다운로드 시도: - 2025년 01월 자동차 등록자료 통계.xlsx
▶ 다운로드 시도: - 2025년 01월 이륜차 신고현황 통계.xlsx
▶ 다운로드 시도: - 2024년 12월 자동차 등록자료 통계.xlsx
▶ 다운로드 시도: - 2024년 12월 이륜차 신고현황 통계.xlsx
▶ 다운로드 시도: - 2024년 11월 자동차 등록자료 통계.xlsx
▶ 다운로드 시도: - 2024년 11월 이륜차 신고현황 통계.xlsx
▶ 다운로드 시도: - 2024년 10월 자동차 등록자료 통계.xlsx
▶ 다운로드 시도: - 2024년 10월 이륜차 신고현황 통계.xlsx
▶ 다운로드 시도: - 2024년 09월 자동차 등록자료 통계.xlsx
▶ 다운로드 시도: - 2024년 09월 이륜차 신고현황 통계.xlsx
▶ 다운로드 시도: - 2024년 08월 자동차 등록자료 통계.xlsx
▶ 다운로드 시도: - 2024년 08월 이륜차 신고현황 통계.xlsx
▶ 다운로드 시도: - 2024년 07월 자동차 등록자료 통계.xlsx
▶ 다운로드 시도: - 2024년 07월 이륜차 신고현황 통계.xlsx
▶ 다운로드 시도: - 2024년 06월 자동차 등록자료 통계.xlsx
▶ 다운로드 시도: - 2024년 06월 이륜차 신고현황 통계.xlsx
▶ 다운로드 시도: - 2024년 05월 자동차 등록자료 통계.xlsx
▶ 다운로드 시도: - 2024년 05월 이륜차 신고현황 통계.xlsx
▶ 다운로드 시도: - 2024년 04월 자동차 등록자료 통계.xlsx
▶ 다운로드 시도: - 2024년 03월 자동차 등록자료 통계.xlsx
▶ 다운로드 시도: - 2024년 03월 이륜차 신고현황 통계.xlsx
▶ 다운로드 시도: - 2024년 02월 자동차 등록자료 통계.xlsx
▶ 다운로드 시도: - 2024년 02월 이륜차 신고현황 통계.xlsx
▶ 다운로드 시도: - 2024년 01월 자동차 등록자료 통계.xlsx
▶ 다운로드 시도: - 2024년 01월 이륜차 신고현황 통계.xlsx
▶ 다운로드 시도: - 2023년 12월 자동차 등록자료 통계.xlsx
▶ 다운로드 시도: - 2023년 12월 이륜차 신고현황 통계.xlsx
▶ 다운로드 시도: - 2023년 09월 이륜차 신고현황 통계.xlsx
▶ 다운로드 시도: - 2023년 11월 자동차 등록자료 통계.xlsx
▶ 다운로드 시도: - 2023년 11월 이륜차 신고현황 통계.xlsx
▶ 다운로드 시도: - 2023년 10월 자동차 등록자료 통계.xlsx
▶ 다운로드 시도: - 2023년 10월 이륜차 신고현황 통계.xlsx
▶ 다운로드 시도: - 2023년 09월 자동차 등록자료 통계.xlsx
▶ 다운로드 시도: - 2023년 09월 이륜차 신고현황 통계.xlsx
▶ 다운로드 시도: - 2023년 08월 자동차 등록자료 통계.xlsx
▶ 다운로드 시도: - 2023년 08월 이륜차 신고현황 통계.xlsx
▶ 다운로드 시도: - 2023년 07월 자동차 등록자료 통계.xlsx
▶ 다운로드 시도: - 2023년 07월 이륜차 신고현황 통계.xlsx
▶ 다운로드 시도: - 2023년 06월 자동차 등록자료 통계.xlsx
▶ 다운로드 시도: - 2023년 06월 이륜차 신고현황 통계.xlsx
▶ 다운로드 시도: - 2023년 05월 이륜차 신고현황 통계.xlsx
▶ 다운로드 시도: - 2023년 05월 자동차 등록자료 통계.xlsx
▶ 다운로드 시도: - 2023년 04월 자동차 등록자료 통계.xlsx
▶ 다운로드 시도: - 2023년 04월 이륜차 신고현황 통계.xlsx
▶ 다운로드 시도: - 2023년 03월 이륜차 신고현황 통계.xlsx
▶ 다운로드 시도: - 2023년 03월 자동차 등록자료 통계.xlsx
▶ 다운로드 시도: - 2023년 02월 자동차 등록자료 통계.xlsx
▶ 다운로드 시도: - 2023년 02월 이륜차 신고현황 통계.xlsx
▶ 다운로드 시도: - 2023년 01월 이륜차 신고현황 통계.xlsx
▶ 다운로드 시도: - 2023년 01월 자동차 등록자료 통계.xlsx
▶ 다운로드 시도: - 2024년 02월 자동차 등록자료 통계.xlsx
▶ 다운로드 시도: - 2024년 02월 이륜차 신고현황 통계.xlsx
▶ 모든 파일 다운로드 시도 완료.

In [ ]:
# 다운로드 받은 파일중 이륜차 파일은 필요없어서 삭제함.

In [52]:
import pandas as pd
import os

# 1. 엑셀 파일들이 있는 폴더 경로
folder_path = r"C:\Users\erety\sk_13_5_1st_sungil\1st_pj_g5\새 폴더\data"  # 본인 경로로 수정
target_sheet = "08.차종별 등록현황(영업용)"  # 가져올 시트 이름

# 2. 해당 폴더 내 .xlsx 파일 목록 가져오기
excel_files = [file for file in os.listdir(folder_path) if file.endswith(".xlsx")]

# 3. 불러온 데이터 저장 리스트
df_list = []

for file in excel_files:
    file_path = os.path.join(folder_path, file)
    try:
        # skiprows=2로 2행 생략하고 시트 불러오기
        df = pd.read_excel(file_path, sheet_name=target_sheet, skiprows=2)

        # 상위 4행 제거 (index 기준)
        df = df.drop(df.columns[0:4], axis=1)

        # 원본 파일명 열 추가 (선택)
        df["파일명"] = file

        df_list.append(df)
        print(f"✅ 불러옴: {file}")

    except Exception as e:
        print(f"❌ 오류 발생: {file} - {e}")

combined_df = pd.concat(df_list, axis=1)

✅ 불러옴: 2023년_01월_자동차_등록자료_통계.xlsx
✅ 불러옴: 2023년_02월_자동차_등록자료_통계.xlsx
✅ 불러옴: 2023년_03월_자동차_등록자료_통계.xlsx
✅ 불러옴: 2023년_04월_자동차_등록자료_통계.xlsx
✅ 불러옴: 2023년_05월_자동차_등록자료_통계.xlsx
✅ 불러옴: 2023년_06월_자동차_등록자료_통계.xlsx
✅ 불러옴: 2023년_07월_자동차_등록자료_통계.xlsx
✅ 불러옴: 2023년_08월_자동차_등록자료_통계.xlsx
✅ 불러옴: 2023년_09월_자동차_등록자료_통계.xlsx
✅ 불러옴: 2023년_10월_자동차_등록자료_통계.xlsx
✅ 불러옴: 2023년_11월_자동차_등록자료_통계.xlsx
✅ 불러옴: 2023년_12월_자동차_등록자료_통계.xlsx
✅ 불러옴: 2024년_01월_자동차_등록자료_통계.xlsx
✅ 불러옴: 2024년_02월_자동차_등록자료_통계.xlsx
✅ 불러옴: 2024년_03월_자동차_등록자료_통계.xlsx
✅ 불러옴: 2024년_04월_자동차_등록자료_통계.xlsx
✅ 불러옴: 2024년_05월_자동차_등록자료_통계.xlsx
✅ 불러옴: 2024년_06월_자동차_등록자료_통계.xlsx
✅ 불러옴: 2024년_07월_자동차_등록자료_통계.xlsx
✅ 불러옴: 2024년_08월_자동차_등록자료_통계.xlsx
✅ 불러옴: 2024년_09월_자동차_등록자료_통계.xlsx
✅ 불러옴: 2024년_10월_자동차_등록자료_통계.xlsx
✅ 불러옴: 2024년_11월_자동차_등록자료_통계.xlsx
✅ 불러옴: 2024년_12월_자동차_등록자료_통계.xlsx
✅ 불러옴: 2025년_01월_자동차_등록자료_통계.xlsx
✅ 불러옴: 2025년_02월_자동차_등록자료_통계.xlsx
✅ 불러옴: 2025년_03월_자동차_등록자료_통계.xlsx
❌ 오류 발생: ~$2023년_01월_자동차_등록자료_통계.xlsx - Excel file format cannot be determined, you must specify an engine manually.

In [53]:
combined_df

,차 종 별,서울,부산,대구,인천,광주,대전,울산,세종,경기,...,강원,충북,충남,전북,전남,경북,경남,제주,합계,파일명
0,NaN,204939,165862,53476,282127,32773,33160,21443,3623,249902,...,26337,38886,41910,35597,246741,48828,162268,280185,1969261,2025년_03월_자동차_등록자료_통계.xlsx
1,NaN,124820,115274,27438,235323,14358,17024,7342,1157,77178,...,12026,15886,13517,12540,212781,13300,121860,268828,1317610,2025년_03월_자동차_등록자료_통계.xlsx
2,NaN,91526,60799,20910,140668,12161,12475,6177,825,59652,...,8378,10878,9640,8943,114697,10267,54718,128804,720046,2025년_03월_자동차_등록자료_통계.xlsx
3,NaN,85079,54830,19488,136014,11830,11706,6005,792,57052,...,7554,9545,8940,8105,112664,9351,51308,120089,665736,2025년_03월_자동차_등록자료_통계.xlsx
4,승용일반형 국산 800CC미만,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2025년_03월_자동차_등록자료_통계.xlsx
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134,NaN,1304,601,640,697,490,509,399,77,3470,...,722,726,863,700,803,1130,1144,317,15493,2025년_03월_자동차_등록자료_통계.xlsx
135,NaN,97,11,30,35,23,15,3,1,147,...,16,12,17,13,17,18,22,7,464,2025년_03월_자동차_등록자료_통계.xlsx
136,NaN,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,2025년_03월_자동차_등록자료_통계.xlsx
137,NaN,2,0,1,2,1,5,0,0,4,...,8,1,5,0,0,0,2,0,25,2025년_03월_자동차_등록자료_통계.xlsx
138,NaN,2404,374,586,674,317,402,195,12,2532,...,347,304,364,388,329,434,494,130,10123,2025년_03월_자동차_등록자료_통계.xlsx

In [54]:
subset = combined_df["차 종 별"].iloc[18:31]
subset1 = combined_df["합계"].iloc[18:31]
print(subset)
print(subset1)

                차 종 별              차 종 별              차 종 별  \
18   승용일반형 외산 800CC미만   승용일반형 외산 800CC미만   승용일반형 외산 800CC미만
19  승용일반형 외산 1000CC미만  승용일반형 외산 1000CC미만  승용일반형 외산 1000CC미만
20  승용일반형 외산 1500CC미만  승용일반형 외산 1500CC미만  승용일반형 외산 1500CC미만
21  승용일반형 외산 2000CC미만  승용일반형 외산 2000CC미만  승용일반형 외산 2000CC미만
22  승용일반형 외산 2500CC미만  승용일반형 외산 2500CC미만  승용일반형 외산 2500CC미만
23  승용일반형 외산 3000CC미만  승용일반형 외산 3000CC미만  승용일반형 외산 3000CC미만
24  승용일반형 외산 3500CC미만  승용일반형 외산 3500CC미만  승용일반형 외산 3500CC미만
25  승용일반형 외산 4000CC미만  승용일반형 외산 4000CC미만  승용일반형 외산 4000CC미만
26  승용일반형 외산 4500CC미만  승용일반형 외산 4500CC미만  승용일반형 외산 4500CC미만
27  승용일반형 외산 5000CC미만  승용일반형 외산 5000CC미만  승용일반형 외산 5000CC미만
28  승용일반형 외산 5000CC이상  승용일반형 외산 5000CC이상  승용일반형 외산 5000CC이상
29      승용일반형 외산 저속전기      승용일반형 외산 저속전기      승용일반형 외산 저속전기
30        승용일반형 외산 전기        승용일반형 외산 전기        승용일반형 외산 전기

                차 종 별              차 종 별              차 종 별  \
18   승용일반형 외산 800CC미만   승용일반형 외산 800CC미만   승용일반형 외산 800CC미만
19  승용일반형 외산 1000CC미만  승용일반형 외산 1000CC미만  승용일반형 외산 1000CC미만
20  승용일반형 외산 1500CC미만  승용일반형 외산 1500CC미만  승용일반형 외산 1500CC미만
21  승용일반형 외산 2000CC미만  승용일반형 외산 2000CC미만  승용일반형 외산 2000CC미만
22  승용일반형 외산 2500CC미만  승용일반형 외산 2500CC미만  승용일반형 외산 2500CC미만
23  승용일반형 외산 3000CC미만  승용일반형 외산 3000CC미만  승용일반형 외산 3000CC미만
24  승용일반형 외산 3500CC미만  승용일반형 외산 3500CC미만  승용일반형 외산 3500CC미만
25  승용일반형 외산 4000CC미만  승용일반형 외산 4000CC미만  승용일반형 외산 4000CC미만
26  승용일반형 외산 4500CC미만  승용일반형 외산 4500CC미만  승용일반형 외산 4500CC미만
27  승용일반형 외산 5000CC미만  승용일반형 외산 5000CC미만  승용일반형 외산 5000CC미만
28  승용일반형 외산 5000CC이상  승용일반형 외산 5000CC이상  승용일반형 외산 5000CC이상
29      승용일반형 외산 저속전기      승용일반형 외산 저속전기      승용일반형 외산 저속전기
30        승용일반형 외산 전기        승용일반형 외산 전기        승용일반형 외산 전기

                차 종 별              차 종 별              차 종 별  \
18   승용일반형 외산 800CC미만   승용일반형 외산 800CC미만   승용일반형 외산 800CC미만
19  승용일반형 외산 1000CC미만  승용일반형 외산 1000CC미만  승용일반형 외산 1000CC미만
20  승용일반형 외산 1500CC미만  승용일반형 외산 1500CC미만  승용일반형 외산 1500CC미만
21  승용일반형 외산 2000CC미만  승용일반형 외산 2000CC미만  승용일반형 외산 2000CC미만
22  승용일반형 외산 2500CC미만  승용일반형 외산 2500CC미만  승용일반형 외산 2500CC미만
23  승용일반형 외산 3000CC미만  승용일반형 외산 3000CC미만  승용일반형 외산 3000CC미만
24  승용일반형 외산 3500CC미만  승용일반형 외산 3500CC미만  승용일반형 외산 3500CC미만
25  승용일반형 외산 4000CC미만  승용일반형 외산 4000CC미만  승용일반형 외산 4000CC미만
26  승용일반형 외산 4500CC미만  승용일반형 외산 4500CC미만  승용일반형 외산 4500CC미만
27  승용일반형 외산 5000CC미만  승용일반형 외산 5000CC미만  승용일반형 외산 5000CC미만
28  승용일반형 외산 5000CC이상  승용일반형 외산 5000CC이상  승용일반형 외산 5000CC이상
29      승용일반형 외산 저속전기      승용일반형 외산 저속전기      승용일반형 외산 저속전기
30        승용일반형 외산 전기        승용일반형 외산 전기        승용일반형 외산 전기

                차 종 별  ...              차 종 별              차 종 별  \
18   승용일반형 외산 800CC미만  ...   승용일반형 외산 800CC미만   승용일반형 외산 800CC미만
19  승용일반형 외산 1000CC미만  ...  승용일반형 외산 1000CC미만  승용일반형 외산 1000CC미만
20  승용일반형 외산 1500CC미만  ...  승용일반형 외산 1500CC미만  승용일반형 외산 1500CC미만
21  승용일반형 외산 2000CC미만  ...  승용일반형 외산 2000CC미만  승용일반형 외산 2000CC미만
22  승용일반형 외산 2500CC미만  ...  승용일반형 외산 2500CC미만  승용일반형 외산 2500CC미만
23  승용일반형 외산 3000CC미만  ...  승용일반형 외산 3000CC미만  승용일반형 외산 3000CC미만
24  승용일반형 외산 3500CC미만  ...  승용일반형 외산 3500CC미만  승용일반형 외산 3500CC미만
25  승용일반형 외산 4000CC미만  ...  승용일반형 외산 4000CC미만  승용일반형 외산 4000CC미만
26  승용일반형 외산 4500CC미만  ...  승용일반형 외산 4500CC미만  승용일반형 외산 4500CC미만
27  승용일반형 외산 5000CC미만  ...  승용일반형 외산 5000CC미만  승용일반형 외산 5000CC미만
28  승용일반형 외산 5000CC이상  ...  승용일반형 외산 5000CC이상  승용일반형 외산 5000CC이상
29      승용일반형 외산 저속전기  ...      승용일반형 외산 저속전기      승용일반형 외산 저속전기
30        승용일반형 외산 전기  ...        승용일반형 외산 전기        승용일반형 외산 전기

                차 종 별              차 종 별              차 종 별  \
18   승용일반형 외산 800CC미만   승용일반형 외산 800CC미만   승용일반형 외산 800CC미만
19  승용일반형 외산 1000CC미만  승용일반형 외산 1000CC미만  승용일반형 외산 1000CC미만
20  승용일반형 외산 1500CC미만  승용일반형 외산 1500CC미만  승용일반형 외산 1500CC미만
21  승용일반형 외산 2000CC미만  승용일반형 외산 2000CC미만  승용일반형 외산 2000CC미만
22  승용일반형 외산 2500CC미만  승용일반형 외산 2500CC미만  승용일반형 외산 2500CC미만
23  승용일반형 외산 3000CC미만  승용일반형 외산 3000CC미만  승용일반형 외산 3000CC미만
24  승용일반형 외산 3500CC미만  승용일반형 외산 3500CC미만  승용일반형 외산 3500CC미만
25  승용일반형 외산 4000CC미만  승용일반형 외산 4000CC미만  승용일반형 외산 4000CC미만
26  승용일반형 외산 4500CC미만  승용일반형 외산 4500CC미만  승용일반형 외산 4500CC미만
27  승용일반형 외산 5000CC미만  승용일반형 외산 5000CC미만  승용일반형 외산 5000CC미만
28  승용일반형 외산 5000CC이상  승용일반형 외산 5000CC이상  승용일반형 외산 5000CC이상
29      승용일반형 외산 저속전기      승용일반형 외산 저속전기      승용일반형 외산 저속전기
30        승용일반형 외산 전기        승용일반형 외산 전기        승용일반형 외산 전기

                차 종 별              차 종 별              차 종 별  \
18   승용일반형 외산 800CC미만   승용일반형 외산 800CC미만   승용일반형 외산 800CC미만
19  승용일반형 외산 1000CC미만  승용일반형 외산 1000CC미만  승용일반형 외산 1000CC미만
20  승용일반형 외산 1500CC미만  승용일반형 외산 1500CC미만  승용일반형 외산 1500CC미만
21  승용일반형 외산 2000CC미만  승용일반형 외산 2000CC미만  승용일반형 외산 2000CC미만
22  승용일반형 외산 2500CC미만  승용일반형 외산 2500CC미만  승용일반형 외산 2500CC미만
23  승용일반형 외산 3000CC미만  승용일반형 외산 3000CC미만  승용일반형 외산 3000CC미만
24  승용일반형 외산 3500CC미만  승용일반형 외산 3500CC미만  승용일반형 외산 3500CC미만
25  승용일반형 외산 4000CC미만  승용일반형 외산 4000CC미만  승용일반형 외산 4000CC미만
26  승용일반형 외산 4500CC미만  승용일반형 외산 4500CC미만  승용일반형 외산 4500CC미만
27  승용일반형 외산 5000CC미만  승용일반형 외산 5000CC미만  승용일반형 외산 5000CC미만
28  승용일반형 외산 5000CC이상  승용일반형 외산 5000CC이상  승용일반형 외산 5000CC이상
29      승용일반형 외산 저속전기      승용일반형 외산 저속전기      승용일반형 외산 저속전기
30        승용일반형 외산 전기        승용일반형 외산 전기        승용일반형 외산 전기

                차 종 별              차 종 별
18   승용일반형 외산 800CC미만   승용일반형 외산 800CC미만
19  승용일반형 외산 1000CC미만  승용일반형 외산 1000CC미만
20  승용일반형 외산 1500CC미만  승용일반형 외산 1500CC미만
21  승용일반형 외산 2000CC미만  승용일반형 외산 2000CC미만
22  승용일반형 외산 2500CC미만  승용일반형 외산 2500CC미만
23  승용일반형 외산 3000CC미만  승용일반형 외산 3000CC미만
24  승용일반형 외산 3500CC미만  승용일반형 외산 3500CC미만
25  승용일반형 외산 4000CC미만  승용일반형 외산 4000CC미만
26  승용일반형 외산 4500CC미만  승용일반형 외산 4500CC미만
27  승용일반형 외산 5000CC미만  승용일반형 외산 5000CC미만
28  승용일반형 외산 5000CC이상  승용일반형 외산 5000CC이상
29      승용일반형 외산 저속전기      승용일반형 외산 저속전기
30        승용일반형 외산 전기        승용일반형 외산 전기

[13 rows x 27 columns]
       합계     합계     합계     합계     합계     합계     합계     합계     합계     합계  ...  \
18      0      0      0      0      0      0      0      0      0      0  ...
19      0      0      0      0      0      0      0      0      0      0  ...
20   2039   1990   1911   1839   1810   1768   1697   1654   1621   1578  ...
21  19301  19222  19122  18959  18812  18678  18519  18427  18312  18271  ...
22   1960   1927   1910   1868   1851   1829   1842   1870   1868   1850  ...
23   4102   4095   4087   4108   4106   4143   4146   4151   4164   4181  ...
24    164    159    156    152    145    143    138    138    137    134  ...
25    618    621    611    605    601    594    589    587    587    586  ...
26     60     62     63     66     65     65     64     66     67     69  ...
27     30     30     29     29     29     28     28     28     28     28  ...
28     90     88     87     85     89     85     82     80     80     80  ...
29      0      0      0      0      0      0      0      0      0      0  ...
30   9137   9134   8976   8932   8935   8900   8809   8707   8792   8772  ...

       합계     합계     합계     합계     합계     합계     합계     합계     합계     합계
18      0      0      0      0      0      0      0      0      0      0
19      1      1      1      1      1      1      1      1      1      1
20   1254   1205   1169   1135   1102   1042    987    947    923    900
21  22800  25306  28086  29911  31455  33375  35389  36584  38182  39607
22   1729   1713   1724   1732   1712   1724   1719   1731   1737   1744
23   4076   4013   4015   4013   3999   3995   3957   3921   3897   3845
24    108    100     96     95     93     92     89     87     87     87
25    574    569    561    557    555    553    545    540    536    532
26     71     71     71     72     73     71     72     74     74     73
27     21     20     20     19     18     16     16     15     15     15
28     71     68     67     66     64     62     61     60     60     58
29      0      0      0      0      0      0      0      0      0      0
30   8135   7941   7790   7640   7628   7628   7613   7517   7444   7448

[13 rows x 27 columns]

In [62]:
car_type = subset.iloc[:, 0]

In [63]:
car_type

18     승용일반형 외산 800CC미만
19    승용일반형 외산 1000CC미만
20    승용일반형 외산 1500CC미만
21    승용일반형 외산 2000CC미만
22    승용일반형 외산 2500CC미만
23    승용일반형 외산 3000CC미만
24    승용일반형 외산 3500CC미만
25    승용일반형 외산 4000CC미만
26    승용일반형 외산 4500CC미만
27    승용일반형 외산 5000CC미만
28    승용일반형 외산 5000CC이상
29        승용일반형 외산 저속전기
30          승용일반형 외산 전기
Name: 차 종 별, dtype: object

In [65]:
car_num = subset1

In [66]:
car_reg = pd.concat([car_type, car_num], axis=1)

In [67]:
car_reg

,차 종 별,합계,합계,합계,합계,합계,합계,합계,합계,합계,...,합계,합계,합계,합계,합계,합계,합계,합계,합계,합계
18,승용일반형 외산 800CC미만,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,승용일반형 외산 1000CC미만,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
20,승용일반형 외산 1500CC미만,2039,1990,1911,1839,1810,1768,1697,1654,1621,...,1254,1205,1169,1135,1102,1042,987,947,923,900
21,승용일반형 외산 2000CC미만,19301,19222,19122,18959,18812,18678,18519,18427,18312,...,22800,25306,28086,29911,31455,33375,35389,36584,38182,39607
22,승용일반형 외산 2500CC미만,1960,1927,1910,1868,1851,1829,1842,1870,1868,...,1729,1713,1724,1732,1712,1724,1719,1731,1737,1744
23,승용일반형 외산 3000CC미만,4102,4095,4087,4108,4106,4143,4146,4151,4164,...,4076,4013,4015,4013,3999,3995,3957,3921,3897,3845
24,승용일반형 외산 3500CC미만,164,159,156,152,145,143,138,138,137,...,108,100,96,95,93,92,89,87,87,87
25,승용일반형 외산 4000CC미만,618,621,611,605,601,594,589,587,587,...,574,569,561,557,555,553,545,540,536,532
26,승용일반형 외산 4500CC미만,60,62,63,66,65,65,64,66,67,...,71,71,71,72,73,71,72,74,74,73
27,승용일반형 외산 5000CC미만,30,30,29,29,29,28,28,28,28,...,21,20,20,19,18,16,16,15,15,15
28,승용일반형 외산 5000CC이상,90,88,87,85,89,85,82,80,80,...,71,68,67,66,64,62,61,60,60,58
29,승용일반형 외산 저속전기,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30,승용일반형 외산 전기,9137,9134,8976,8932,8935,8900,8809,8707,8792,...,8135,7941,7790,7640,7628,7628,7613,7517,7444,7448

In [71]:
car_reg.columns = [
    '차종별', '2301', '2302', '2303', '2304', '2305', '2306', '2307', '2308', '2309', '2310', '2311', '2312',
    '2401', '2402', '2403', '2404', '2405', '2406', '2407', '2408', '2409', '2410', '2411', '2412',
    '2501', '2502', '2503'
]

In [72]:
car_reg

,차종별,2301,2302,2303,2304,2305,2306,2307,2308,2309,...,2406,2407,2408,2409,2410,2411,2412,2501,2502,2503
18,승용일반형 외산 800CC미만,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,승용일반형 외산 1000CC미만,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
20,승용일반형 외산 1500CC미만,2039,1990,1911,1839,1810,1768,1697,1654,1621,...,1254,1205,1169,1135,1102,1042,987,947,923,900
21,승용일반형 외산 2000CC미만,19301,19222,19122,18959,18812,18678,18519,18427,18312,...,22800,25306,28086,29911,31455,33375,35389,36584,38182,39607
22,승용일반형 외산 2500CC미만,1960,1927,1910,1868,1851,1829,1842,1870,1868,...,1729,1713,1724,1732,1712,1724,1719,1731,1737,1744
23,승용일반형 외산 3000CC미만,4102,4095,4087,4108,4106,4143,4146,4151,4164,...,4076,4013,4015,4013,3999,3995,3957,3921,3897,3845
24,승용일반형 외산 3500CC미만,164,159,156,152,145,143,138,138,137,...,108,100,96,95,93,92,89,87,87,87
25,승용일반형 외산 4000CC미만,618,621,611,605,601,594,589,587,587,...,574,569,561,557,555,553,545,540,536,532
26,승용일반형 외산 4500CC미만,60,62,63,66,65,65,64,66,67,...,71,71,71,72,73,71,72,74,74,73
27,승용일반형 외산 5000CC미만,30,30,29,29,29,28,28,28,28,...,21,20,20,19,18,16,16,15,15,15
28,승용일반형 외산 5000CC이상,90,88,87,85,89,85,82,80,80,...,71,68,67,66,64,62,61,60,60,58
29,승용일반형 외산 저속전기,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30,승용일반형 외산 전기,9137,9134,8976,8932,8935,8900,8809,8707,8792,...,8135,7941,7790,7640,7628,7628,7613,7517,7444,7448

In [73]:
car_reg.to_csv('car_reg.csv', index=False, encoding='utf-8')